body{
  font-family: 'Allerta Stencil';
}

table {
   width: 1000px !important;
   display: table;
   table-layout: fixed;
   border-collapse: collapse;
   font-size: 25px;
}

td {
  width: 10%;
  display: table-cell;
  text-align: left;
  /* border: 1px solid black; */
  padding: 10px;
}

row { 
  width: 100%;
  display: block;
}

#message {
  display: none;
}

#widget {
  display: none;
}

#btnSave {
  display: none;
}

#makeAnother {
  display: none;
}

h5 {
  font-size: .75em;
}